In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_excel('../datasets/table.xlsx')
data

   x  y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

In [39]:
x = data['x']
y = data['y']
mean = np.mean([x,y])
mean

3.2

In [38]:
mean = data.mean()
mean

x    3.0
y    3.4
dtype: float64

In [36]:
mode = data['x'].mode()
mode

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64

In [35]:
std = data['y'].std()
std

1.3416407864998738

In [41]:
x_range = max(data['x']) - min(data['x'])
x_range

4

In [43]:
y_range = max(data['y']) - min(data['y'])
y_range

3