In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('../datasets/data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [15]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1:]

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33)
obj = LinearRegression().fit(x_train,y_train)
pred = obj.predict(x_test)
score = r2_score(y_test,pred)
score

0.9740454644158465