In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../datasets/Retail.csv",encoding='latin-1')

In [4]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Transactions from the Database,NaN,NaN,#Transactions in which\n the item is bought,Support,NaN
1,"1 : { Pencils, Markers, Highlighters, Papers}",NaN,Pencils,2,0.2,NaN
2,"2 : {Markers, Erasers}",NaN,Markers,6,0.6,NaN
3,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",NaN,Highlighters,3,0.3,NaN
4,"4 : {Papers, Erasers, Cad Holders}",NaN,Papers,4,0.4,NaN