In [48]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [49]:
data = pd.read_csv("../datasets/data.csv")

In [50]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [52]:
x = data.iloc[:,0].reset_index().values
y = data.iloc[:,1].reset_index().values
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.30)

In [53]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [55]:
model.score(X_test,y_test)

0.9838403788928615

In [56]:
pred = model.predict(X_test)

In [57]:
r2_score(y_test,pred)

0.9838403788928615